# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [10]:
USE JunkDB_STL_March2022
CREATE TABLE holly.planned_makes (
    wizard_ID INT PRIMARY KEY IDENTITY,
    wizard_name VARCHAR (200),
    wand_type VARCHAR(200),
    age INT)

Add three rows to your table that are your planned makes.

In [11]:
--USE JunkDB_STL_March2022
INSERT INTO holly.planned_makes (wizard_name, wand_type, age)

VALUES ('Harry Potter', 'Unicorn hair', 11),
('Hermione Granger', 'Dragon heartstring', 12),
('Ronald Weasley', 'Pheonix Feather', 11),
('Ginny Weasley', 'Elder wood', 10)

In [12]:
SELECT * FROM holly.planned_makes

wizard_ID,wizard_name,wand_type,age
1,Harry Potter,Unicorn hair,11
2,Hermione Granger,Dragon heartstring,12
3,Ronald Weasley,Pheonix Feather,11
4,Ginny Weasley,Elder wood,10

## Update a Row

Change different values in one of your three rows.

In [13]:
USE JunkDB_STL_March2022
UPDATE holly.planned_makes
SET age = 15
WHERE wizard_name= 'Harry Potter'



SELECT * FROM holly.planned_makes

wizard_ID,wizard_name,wand_type,age
1,Harry Potter,Unicorn hair,15
2,Hermione Granger,Dragon heartstring,12
3,Ronald Weasley,Pheonix Feather,11
4,Ginny Weasley,Elder wood,10

## Delete a Row

Delete one of the rows from your table.

In [14]:
USE JunkDB_STL_March2022
DELETE FROM holly.planned_makes
WHERE age= 10

In [15]:
SELECT * FROM holly.planned_makes

wizard_ID,wizard_name,wand_type,age
1,Harry Potter,Unicorn hair,15
2,Hermione Granger,Dragon heartstring,12
3,Ronald Weasley,Pheonix Feather,11

## Drop the Table

While this has been fun, it is time to drop the table!

In [9]:
USE JunkDB_STL_March2022
DROP TABLE holly.planned_makes

: Msg 3701, Level 11, State 5, Line 2
Cannot drop the table 'holly.planned_makes', because it does not exist or you do not have permission.